/* Estilo general */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Contenedor principal */
main {
  margin: 0 auto;
  max-width: 1200px; /* Ancho máximo para pantallas grandes */
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Diseño en columna por defecto */
  align-items: center;
  justify-content: center;
}

/* Elementos adaptables */
img {
  max-width: 100%;
  height: auto; /* Asegura que las imágenes sean responsivas */
  display: block;
}

.container {
  width: 100%; /* Se adapta al tamaño del contenedor */
  padding: 1rem;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  main {
      padding: 0.5rem;
  }

  .container {
      padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 14px; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }

  main {
      padding: 0.25rem;
  }
}


/* ===== NAVBAR ===== */
nav {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0.5rem 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Sombra envolvente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem; /* Bordes redondeados */
  transition: box-shadow 0.3s ease; /* Efecto de sombra sutil */
}


nav ul {
  display: flex;
  gap: 1.5rem; /* Más espacio entre los enlaces */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: var(--accent-color);
  color: var(--dark-color);
  outline: none; /* Eliminar el borde del focus */
}


/* ===== LOGO ===== */


.logo {
  padding: 0.2rem 0.2rem;
  max-height: 40px; /* Altura máxima predeterminada */
  object-fit: contain; /* Mantiene las proporciones */
  transition: max-height 0.3s ease; /* Suaviza cambios de tamaño */
}


/* ===== BUSCADOR ===== */
.search-container {
  padding: 0.5rem 1rem; /* Aumentamos padding para mayor confort */
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  overflow: hidden;
  max-width: 500px; /* Tamaño máximo en pantallas grandes */
  width: 50%; /* Ocupa el ancho disponible */
  margin: 0 auto; /* Centrado */
  transition: width 0.3s ease; /* Transición suave para el tamaño */
}

.search-input {
  padding: 1rem;
  border: none;
  outline: none;
  flex-grow: 1; /* Crece para ocupar espacio disponible */
  font-size: 1rem;
  transition: padding 0.3s ease; /* Transición suave para el tamaño */
}

.search-button {
  background: var(--secondary-color);
  border: none;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Evita que el botón se reduzca demasiado */
  transition: padding 0.3s ease; /* Suaviza el tamaño del botón */
}

.search-icon {
  width: 20px;
  height: 20px;
  color: var(--dark-color);
  transition: width 0.3s ease, height 0.3s ease; /* Suaviza el cambio de tamaño del icono */
}

/* ===== MENÚ MÓVIL ===== */
.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-button svg {
  width: 28px;
  height: 28px;
  color: var(--white-color);
}

.menu-button:hover svg {
  transform: scale(1.1);
  opacity: 0.8;
}

.mobile-menu {
  color: #ffffff;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--dark-color);
  position: absolute;
  top: 100%;
  right: 0;
  padding: 1.2rem;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.mobile-menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mobile-menu a:hover {
  background-color: var(--accent-color);
  transform: scale(1.08);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}


/* ===== HERO HEADER ===== */
header {
  background: linear-gradient(
    #2ff3e0,
    #e2e6e5
    ),
    var(--alt-bg-color); /* Fondo con degradado oscuro */
  text-align: center;
  padding: 1rem 2rem; /* Espaciado amplio */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem; /* Bordes redondeados */
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3); /* Sombra envolvente */
  color: #ffffff; /* Texto blanco */
}

header h1 {
  font-size: 3rem; /* Tamaño base del texto */
  font-weight: 700;
  color: #ffffff; /* Blanco puro */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8); /* Sombra en el texto */
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  max-width: 850px;
  margin-bottom: 2rem;
  line-height: 1.2;
}

header p {
  font-size: 1.2rem; /* Tamaño de texto base */
  color: rgb(255, 255, 255); /* Blanco con opacidad */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra más definida */
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  max-width: 700px;
  margin-bottom: 2rem;
  line-height: 1.8; /* Espaciado cómodo */
}

header button {
  background: linear-gradient(
    to right,
    #5e81ac,
    #5e81ac
  ); /* Fondo degradado vibrante */
  color: #ffffff; /* Blanco puro */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra pronunciada */
  cursor: pointer;
  transition: all 0.3s ease;
}

header button:hover {
  background: linear-gradient(
    to right,
    #88c0d0,
    #5e81ac
  ); /* Intercambia el degradado */
  color: #ffffff; /* Asegura que el texto permanezca blanco */
  transform: translateY(-7px); /* Efecto flotante */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Sombra más profunda */
}


/* ===== HOME ===== */
/* ===== SECCIONES ===== */
section {
  padding: 4rem 2rem;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  animation: fadeIn 1s ease-in-out;
}

.section-description {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  animation: fadeIn 1.2s ease-in-out;
}

.features-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn 1.4s ease-in-out;
}

.features-list li {
  background: var(--accent-color);
  color: var(--white-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  font-size: 1rem;
  transition: transform var(--transition), box-shadow var(--transition);
}

.features-list li:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-hover);
}

/* ===== ANIMACIONES ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== SECCIONES HORIZONTALES ===== */
.horizontal-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
    background: #ffffff; /* Establece el color de fondo a blanco */
    flex-wrap: wrap; /* Asegura que los cuadros se adapten si no caben horizontalmente */
}

.content-box {
  background:linear-gradient(90deg, #2e3440, #3b4252);
  padding: 1.2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  width: 100%;
  max-width: 30%; /* Ocupa un tercio del espacio en pantallas grandes */
  text-align: center;
  transition: transform var(--transition), box-shadow var(--transition);
}

.content-box:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.features-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.features-list li {
  background: #5e81ac;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  transition: transform var(--transition), box-shadow var(--transition);
}

.features-list li:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-hover);
}


/* ===== FORMULARIO DE RESEÑAS ===== */
.review-form {
  background: linear-gradient(135deg, #2e3440, #3b4252);
  padding: 1.5rem; /* Espaciado reducido */
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Menor espacio entre los campos */
  width: 90%;
  max-width: 360px; /* Más compacto */
  margin: 2rem auto;
}

.review-form input,
.review-form textarea,
.review-form select {
  background: #eceff4;
  border: 1px solid #ccc;
  color: #2e3440;
  padding: 0.8rem; /* Espaciado reducido */
  border-radius: 0.5rem;
  font-size: 0.9rem; /* Texto más pequeño */
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.review-form input:focus,
.review-form textarea:focus,
.review-form select:focus {
  border-color: #88c0d0;
  box-shadow: 0 0 5px rgba(136, 192, 208, 0.8);
}

.review-form textarea {
  resize: none;
  height: 100px; /* Altura reducida */
}

.review-form button {
  background: linear-gradient(90deg, #5e81ac, #88c0d0);
  color: #fff;
  font-size: 1rem; /* Texto más pequeño */
  font-weight: bold;
  padding: 0.8rem; /* Espaciado reducido */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.review-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(94, 129, 172, 0.5);
}

.success-message {
  color: #a3be8c;
  font-size: 0.9rem; /* Texto más pequeño */
  text-align: center;
  margin-top: 1rem;
}

/* ===== ANIMACIÓN ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*============PAGES=============*/
/* ===== ABOUT PAGE ===== */
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  color: var(--light-color);
}

h2 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.5rem;
  color: var(--light-color);
  text-align: justify;
}

/* ===== FEATURES GRID ===== */
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  color: #ffffff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  
}

.feature-card {
  background: hsla(213, 32%, 52%, 0.863);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  transition: transform var(--transition), box-shadow var(--transition);
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.feature-card h3 {
  font-size: 1.5rem;
  color: var(--light-color);
}

.feature-card p {
  font-size: 1rem;
  color: var(--light-color);
}

.feature-card svg {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

/* ===== VISION SECTION ===== */
.vision-section {
  background: #5e81acc2;
  color: #ffffff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  padding: 2rem;
  margin-top: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  text-align: justify;
}

.vision-section h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.vision-section p {
  line-height: 1.8;
}

/* ===== CALL TO ACTION ===== */
.cta-section {
  margin-top: 3rem;
  padding: 2rem;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
  text-align: center;
  box-shadow: var(--shadow-card);
}

.cta-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cta-section button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  transition: background var(--transition), transform var(--transition);
}

.cta-section button:hover {
  background: var(--accent-color);
  color: var(--white-color);
  transform: translateY(-3px);
  box-shadow: var(--shadow-hover);
}


/* ===== SERVICES PAGE ===== */
.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  color: #0e0d0d;
}

h2 {
  font-size: 2.5rem;
  color: #0c0c0c;
}

p {
  margin-bottom: 1.5rem;
  color: var(--light-color);
  text-align: center;
  color: #030303;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.service-card {
  background: #373838;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  transition: transform var(--transition), box-shadow var(--transition);
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Línea sutil en el borde superior */
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3); /* Sombra superior */
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.service-card h3 {
  font-size: 1.5rem;
  color: var(--light-color);
}

.service-card p {
  font-size: 1rem;
  color: var(--light-color);
}

.service-card svg {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.cta-section {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 2rem;
  margin-top: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  text-align: center;
}

.cta-section h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.cta-section button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  transition: background var(--transition), transform var(--transition);
}

.cta-section button:hover {
  background: var(--accent-color);
  color: var(--white-color);
  transform: translateY(-3px);
  box-shadow: var(--shadow-hover);
}


/* ===== CONTACT PAGE ===== */
.contact-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem; /* Añadido padding para los lados y el top/bottom */
  align-items: center; /* Centra los elementos en pantallas grandes */
  margin: 0 auto; /* Centra el contenido de la página */
  max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
}

.container {
  width: 100%;
  padding: 0 1rem; /* Añadido padding lateral para contener el contenido */
  margin: 0 auto; /* Centra el contenedor */
}

.text-center {
  text-align: center;
}

.info-card {
  width: 100%;
  max-width: 400px; /* Limita el tamaño de las tarjetas */
  padding: 1rem; /* Añadido padding dentro de la tarjeta */
  margin: 0 auto; /* Centra las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.input-field {
  width: 100%;
  padding: 1rem;
  background-color: #5e81ac63;
  border: 2px solid #4c566a;
  border-radius: 0.75rem;
  color: #eceff4;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem; /* Añadido margen inferior para separar los campos */
}

.input-field::placeholder {
  color: #101111;
  text-shadow: #0000007c;
  font-size: 0.9rem;
}

.input-field:focus {
  outline: none;
  background-color: #516fac;
  border-color: #88c0d0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

textarea {
  width: 100%;
  resize: none;
  padding: 1rem;
  background-color: #5e81ac63;
  border: 2px solid #4c566a;
  border-radius: 0.75rem;
  color: #eceff4;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem; /* Añadido margen inferior */
}

textarea::placeholder {
  color: #101111;
  text-shadow: #0000007c;
  font-size: 0.9rem;
}

textarea:focus {
  outline: none;
  background-color: #516fac;
  border-color: #88c0d0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


/* ===== MAP SECTION ===== */
.map-section iframe {
  border: none;
  border-radius: 0.75rem;
  width: 100%; /* Asegura que el iframe se ajuste al ancho de la pantalla */
  height: 350px; /* Altura predeterminada */
}



/* ===== PORTFOLIO PAGE ===== */
.portfolio-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-center {
  text-align: center;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.icon {
  font-size: 3rem;
  color: #88c0d0;
  margin-bottom: 1rem;
}

.work-card img {
  transition: transform 0.3s ease;
}

.work-card:hover img {
  transform: scale(1.05);
}

.work-card a {
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-card a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}


/* ===== FOOTER ===== */
footer {
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Alinea los hijos verticalmente */
  justify-content: center; /* Centra contenido verticalmente */
  align-items: center; /* Centra contenido horizontalmente */
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(17, 17, 17, 1)
  ); /* Fondo degradado oscuro */
  color: #fdfdfd; /* Texto blanco */
  padding: 1.5rem 1rem; /* Espaciado cómodo */
  box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.3); /* Sombra superior */
  width: 100%; /* Ocupa todo el ancho */
}

footer *, /* Asegura que todos los elementos dentro del footer hereden el color blanco */
footer a { /* Específicamente para enlaces, si hay */
  color: inherit; /* Hereda el color del elemento padre, que es blanco */
}

/* Media Queries para ajustar el tamaño del texto y padding en dispositivos más pequeños */
@media (max-width: 768px) {
  footer {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 0.5rem 0.25rem;
    font-size: 0.8rem;
  }
}